.card-grid {

    &__heading {
        text-align: center;
        font-weight: 300;
        padding: 55px 0 40px;

        @include breakpoint(tablet) {
            padding: 80px 0 84px;
        }

        @include breakpoint(desktop) {
            padding: 155px 0 84px;
        }
    }

    &__wrapper {    
        max-width: $site-width;
        margin: 0 auto 54px;

        @include breakpoint(tablet) {
            margin: 0 auto 100px;
        }

        @include breakpoint(desktop) {
            margin: 0 auto 130px;    
        }
    }

    &__container {

        @include breakpoint(tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            padding: 0 60px;
        }

        @include breakpoint(desktop) {
            grid-gap: 40px;
            padding: 0 80px;
        }
    }

    &__image-wrapper:last-child {
        margin-bottom: 80px;

        @include breakpoint(tablet) {
            margin-bottom: 0;
        }
    }

    &__image-container {
        position: relative;
        // stop image on hover growing outside of the container to create zoom effect.
        overflow: hidden;
        max-height: 380px;
        margin: 0 30px;

        @include breakpoint(mobile) {
            margin: 0 30px;
        }

        @include breakpoint(tablet) {
            max-height: 100%;
            margin: 0 0px;
        }
    }

    // when the image gets hovered over both image and title should have hover effect.
    &__image-link {
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $primary-color;
                opacity: 0;
                transition: opacity 2s ease;
                z-index: 1;
                mix-blend-mode: multiply;
            }
            @include breakpoint(tablet) {
                &:hover:after { opacity: 0.9; }
            }   

        &:hover,
        &:focus {
            @include breakpoint(tablet) {
                .card-grid__image--title {
                    opacity: 1;
                }
                .card-grid__image {
                    transform: scale(1.1);
                }   
            }
        } 
    }

    &__image {
        // position the image to be more centered without using height and ruining the aspect ratio.
        position: relative;
        top: -308px;
        left: -112px;

        @include breakpoint(mobile) {
            max-width: 644px;
        }

        @include breakpoint(tablet) {
            width: 100%;
            top: 0;
            left: 0;
        }

        @include breakpoint(largedesktop) {
            max-width: 650px;
        }

        // make animation of zoom in on hover ease when in and out.
        transition: transform 2s ease;

        &:before {
            content: "";
            position: absolute;
            height: 5px;
            background-color: $primary-color;
            // stop line going full with under arrow
            width: 100%;
            bottom: 0;
        }

        
        
        &--title {
            color: white;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 1s ease;
            z-index: 2;
            font-size: 16px;
            letter-spacing: 1.19px;
            white-space: nowrap;

            @include breakpoint(tablet) {
                font-size: 1em; // 24px
            }

            @include breakpoint(desktop) {
                font-size: 1.250em; // 20px
            }

            @include breakpoint(xlargedesktop) {
                font-size: 1.500em; // 24px
            }

            // underline
            &::after {
                content: "";
                position: absolute;
                height: 5px;
                border-bottom: 2px solid white;
                // stop line going full with under arrow
                // width: calc(100% - 20px);
                width: 100%;
                bottom: 0;
                right: 20px;
                right: 0;
            }
        }

        &--title-arrow {
            padding-left: 10px;
        }
        
    }

    &__title-link {
        font-size: 1.125em; // 18px
        color: $font-color;
        text-decoration: none;
        font-family: $primary-font-family;
        font-weight: 300;
        display: block;
        text-align: center;
        
        @include breakpoint(tablet) {
            font-size: 1.250em; // 20px
        }

        @include breakpoint(smalldesktop) {
            font-size: 1.500em; // 24px

        }

        @include breakpoint(largedesktop) {
            font-size: 2em; // 32px
        }

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &--top {
            margin-top: 40px;
            margin-bottom: 20px;

            @include breakpoint(tablet) {
                margin-top: 10px;
                margin-bottom: 40px;
            }
        }

        &--bottom {
            margin-top: 54px;
            margin-bottom: 54px;
            
            @include breakpoint(tablet) {
                margin-bottom: 0;
            }
        }
    }
}
