.download-list {

    &__wrapper {
        max-width: 750px;
        margin: 0 auto;
        padding: 60px 30px 120px 30px;

        @include breakpoint(tablet) {
            padding: 120px 30px 160px 30px;
        }
    }

    &__container {
        padding-top: 80px;

        &:first-child {
            padding-top: 0;
        }
    }

    &__heading {
        color: $primary-color;
        border-bottom: 1px solid $font-color;
        font-weight: normal;
        font-size: em(20);
        padding-bottom: 30px;

        @include breakpoint(tablet) {
            font-size: em(24);
        }
      
        @include breakpoint(desktop) {
            font-size: em(34);
        }
    }

    &__link {
        border-bottom: 1px solid $font-color;
        color: $font-color;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        font-family: $primary-font-family;
        padding: 30px 0;
        letter-spacing: 0.6px;
        font-size: em(14);
        line-height: 1.6;
        font-weight: normal;

        @include breakpoint(tablet) {
            font-size: em(16);
        }

        @include breakpoint(desktop) {
            font-size: em(18);
        }

        &--view {
            color: $primary-color;
            padding-right: 10px;
            font-weight: bold;
        }
    }
}